<data xmlns="urn:ietf:params:xml:ns:netconf:ase:1.0">
  <aaa xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-aaa-li-cfg">
   <usernames xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-aaa-locald-cfg">
    <username>
     <name>erick</name>
     <usergroup-under-usernames>
      <usergroup-under-username>
       <name>root-system</name>
      </usergroup-under-username>
     </usergroup-under-usernames>
     <password>104B1B10061C525A59</password>
    </username>
    <username>
     <name>adminNETCONF</name>
     <usergroup-under-usernames>
      <usergroup-under-username>
       <name>sysadmin</name>
      </usergroup-under-username>
     </usergroup-under-usernames>
     <password>06071C325E0E</password>
    </username>
   </usernames>
   <authorizations>
    <authorization>
     <type>exec</type>
     <listname>default</listname>
     <method>local</method>
    </authorization>
   </authorizations>
  </aaa>
  <aaa xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-aaa-locald-admin-cfg">
   <usernames>
    <username>
     <name>assr</name>
     <usergroup-under-usernames>
      <usergroup-under-username>
       <name>root-system</name>
      </usergroup-under-username>
     </usergroup-under-usernames>
     <secret>$1$8DQ$sXBw2JoQXhfncglP/O8c0</secret>
    </username>
   </usernames>
  </aaa>
  <crypto xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-crypto-sam-cfg">
   <ssh xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-crypto-ssh-cfg">
    <server>
     <v2/>
     <vrf-tale>
      <vrf>
       <vrf-name>default</vrf-name>
       <enale/>
       <ipv4-access-list>192.168.1.2</ipv4-access-list>
      </vrf>
     </vrf-tale>
     <netconf>830</netconf>
     <netconf-vrf-tale>
      <vrf>
       <vrf-name>default</vrf-name>
       <enale/>
       <ipv4-access-list>192.168.1.2</ipv4-access-list>
      </vrf>
     </netconf-vrf-tale>
     <logging/>
    </server>
   </ssh>
  </crypto>
  <interface-configurations xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ifmgr-cfg">
   <interface-configuration>
    <active>act</active>
    <interface-name>MgmtEth0/0/CPU0/0</interface-name>
    <shutdown/>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/0</interface-name>
    <ipv4-network xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-io-cfg">
     <addresses>
      <primary>
       <address>192.168.1.1</address>
       <netmask>255.255.255.0</netmask>
      </primary>
     </addresses>
    </ipv4-network>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/1</interface-name>
    <shutdown/>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/2</interface-name>
    <ipv6-network xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv6-ma-cfg">
     <addresses>
      <regular-addresses>
       <regular-address>
        <address>2001:d8:acad:30::2</address>
        <prefix-length>64</prefix-length>
        <zone>0</zone>
       </regular-address>
      </regular-addresses>
      <auto-configuration>
       <enale/>
      </auto-configuration>
     </addresses>
    </ipv6-network>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/3</interface-name>
    <shutdown/>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/4</interface-name>
    <ipv6-network xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv6-ma-cfg">
     <addresses>
      <link-local-address>
       <address>fe80::2</address>
       <zone>0</zone>
      </link-local-address>
      <regular-addresses>
       <regular-address>
        <address>2001:d8:acad:12::2</address>
        <prefix-length>64</prefix-length>
        <zone>0</zone>
       </regular-address>
      </regular-addresses>
      <auto-configuration>
       <enale/>
      </auto-configuration>
     </addresses>
    </ipv6-network>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/5</interface-name>
    <shutdown/>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/6</interface-name>
    <ipv6-network xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv6-ma-cfg">
     <addresses>
      <link-local-address>
       <address>fe80::2</address>
       <zone>0</zone>
      </link-local-address>
      <regular-addresses>
       <regular-address>
        <address>2001:d8:acad:23::2</address>
        <prefix-length>64</prefix-length>
        <zone>0</zone>
       </regular-address>
      </regular-addresses>
      <auto-configuration>
       <enale/>
      </auto-configuration>
     </addresses>
    </ipv6-network>
   </interface-configuration>
   <interface-configuration>
    <active>act</active>
    <interface-name>GigaitEthernet0/0/0/7</interface-name>
    <shutdown/>
   </interface-configuration>
  </interface-configurations>
  <syslog-service xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg">
   <timestamps>
    <log>
     <log-datetime>
      <log-datetime-value>
       <time-stamp-value>enale</time-stamp-value>
       <msec>disale</msec>
       <time-zone>disale</time-zone>
       <year>disale</year>
      </log-datetime-value>
     </log-datetime>
    </log>
    <deug>
     <deug-datetime>
      <datetime-value>
       <msec>enale</msec>
      </datetime-value>
     </deug-datetime>
    </deug>
   </timestamps>
  </syslog-service>
  <syslog xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-infra-syslog-cfg">
   <history-logging>
    <logging-level>deug</logging-level>
   </history-logging>
  </syslog>
  <ipv4-network-gloal xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-ma-cfg">
   <source-route>true</source-route>
  </ipv4-network-gloal>
  <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv4-ospf-cfg">
   <processes>
    <process>
     <process-name>1</process-name>
     <default-vrf>
      <area-addresses>
       <area-area-id>
        <area-id>0</area-id>
        <running/>
        <name-scopes>
         <name-scope>
          <interface-name>GigaitEthernet0/0/0/2</interface-name>
          <running/>
         </name-scope>
        </name-scopes>
       </area-area-id>
      </area-addresses>
     </default-vrf>
     <start/>
    </process>
   </processes>
  </ospf>
  <ospfv3 xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-ipv6-ospfv3-cfg">
   <processes>
    <process>
     <process-name>1</process-name>
     <default-vrf>
      <router-id>2.2.2.2</router-id>
      <area-addresses>
       <area-area-id>
        <area-id>0</area-id>
        <enale/>
        <interfaces>
         <interface>
          <interface-name>GigaitEthernet0/0/0/2</interface-name>
          <enale/>
         </interface>
         <interface>
          <interface-name>GigaitEthernet0/0/0/4</interface-name>
          <enale/>
         </interface>
         <interface>
          <interface-name>GigaitEthernet0/0/0/6</interface-name>
          <enale/>
         </interface>
        </interfaces>
       </area-area-id>
      </area-addresses>
     </default-vrf>
     <af>
      <af-name>ipv6</af-name>
      <saf-name>unicast</saf-name>
     </af>
     <enale/>
    </process>
   </processes>
  </ospfv3>
  <netconf-yang xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-man-netconf-cfg">
   <agent>
    <ssh>
     <enale/>
    </ssh>
    <session>
     <limit>50</limit>
     <idle-timeout>300</idle-timeout>
     <asolute-timeout>1400</asolute-timeout>
    </session>
   </agent>
  </netconf-yang>
  <netconf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-man-xml-ttyagent-cfg">
   <agent>
    <tty>
     <enale/>
    </tty>
   </agent>
  </netconf>
  <snmp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XR-snmp-agent-cfg">
   <administration>
    <default-communities>
     <default-community>
      <community-name>pulic</community-name>
      <priviledge>read-only</priviledge>
     </default-community>
     <default-community>
      <community-name>private</community-name>
      <priviledge>read-write</priviledge>
     </default-community>
    </default-communities>
   </administration>
   <system>
    <contact>Erick</contact>
   </system>
  </snmp>
  <interfaces xmlns="http://openconfig.net/yang/interfaces">
   <interface>
    <name>MgmtEth0/0/CPU0/0</name>
    <config>
     <name>MgmtEth0/0/CPU0/0</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>false</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/0</name>
    <config>
     <name>GigaitEthernet0/0/0/0</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>true</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
    <suinterfaces>
     <suinterface>
      <index>0</index>
      <ipv4 xmlns="http://openconfig.net/yang/interfaces/ip">
       <address>
        <ip>192.168.1.1</ip>
        <config>
         <ip>192.168.1.1</ip>
         <prefix-length>24</prefix-length>
        </config>
       </address>
      </ipv4>
     </suinterface>
    </suinterfaces>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/1</name>
    <config>
     <name>GigaitEthernet0/0/0/1</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>false</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/2</name>
    <config>
     <name>GigaitEthernet0/0/0/2</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>true</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
    <suinterfaces xmlns="http://openconfig.net/yang/interfaces/ip">
     <suinterface>
      <ipv6>
       <address>
        <ip xmlns="http://openconfig.net/yang/interfaces">2001:d8:acad:30::2</ip>
        <config>
         <ip>2001:d8:acad:30::2</ip>
         <prefix-length>64</prefix-length>
        </config>
       </address>
       <config>
        <enaled/>
       </config>
      </ipv6>
     </suinterface>
    </suinterfaces>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/3</name>
    <config>
     <name>GigaitEthernet0/0/0/3</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>false</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/4</name>
    <config>
     <name>GigaitEthernet0/0/0/4</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>true</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
    <suinterfaces xmlns="http://openconfig.net/yang/interfaces/ip">
     <suinterface>
      <ipv6>
       <address>
        <ip xmlns="http://openconfig.net/yang/interfaces">2001:d8:acad:12::2</ip>
        <config>
         <ip>2001:d8:acad:12::2</ip>
         <prefix-length>64</prefix-length>
        </config>
       </address>
       <config>
        <enaled/>
       </config>
      </ipv6>
     </suinterface>
    </suinterfaces>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/5</name>
    <config>
     <name>GigaitEthernet0/0/0/5</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>false</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/6</name>
    <config>
     <name>GigaitEthernet0/0/0/6</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>true</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
    <suinterfaces xmlns="http://openconfig.net/yang/interfaces/ip">
     <suinterface>
      <ipv6>
       <address>
        <ip xmlns="http://openconfig.net/yang/interfaces">2001:d8:acad:23::2</ip>
        <config>
         <ip>2001:d8:acad:23::2</ip>
         <prefix-length>64</prefix-length>
        </config>
       </address>
       <config>
        <enaled/>
       </config>
      </ipv6>
     </suinterface>
    </suinterfaces>
   </interface>
   <interface>
    <name>GigaitEthernet0/0/0/7</name>
    <config>
     <name>GigaitEthernet0/0/0/7</name>
     <type xmlns:idx="urn:ietf:params:xml:ns:yang:iana-if-type">idx:ethernetCsmacd</type>
     <enaled>false</enaled>
    </config>
    <ethernet xmlns="http://openconfig.net/yang/interfaces/ethernet">
     <config>
      <auto-negotiate>false</auto-negotiate>
     </config>
    </ethernet>
   </interface>
  </interfaces>
 </data>
